region       = "us-west-2"
environment  = "production"
project_name = "neatfleets-wp"

domain_name             = "wordpress.neatfleets-services.com"
hosted_zone_name        = "neatfleets-services.com"
certificate_arn         = "arn:aws:acm:us-west-2:546310954125:certificate/97175fc9-4f18-48e3-8267-9aaffba49516"
create_route53_record   = true

vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.3.0/24", "10.0.4.0/24"]
availability_zones   = ["us-west-2a", "us-west-2b"]

instance_type        = "t3.micro"
key_name             = "ansible-key"
ssh_ingress_cidr     = "10.0.0.0/16"
asg_min_size         = 2
asg_max_size         = 4
asg_desired_capacity = 2

db_name                = "wordpress"
db_username            = "wordpress_admin"
db_password            = "replace-with-a-strong-database-password"
db_instance_class      = "db.t3.micro"
db_allocated_storage   = 20
db_deletion_protection = false

s3_bucket_name   = "neatfleets-wordpress-media-546310954125"
s3_force_destroy = false

wp_site_title     = "NeatFleets Services"
wp_admin_user     = "admin"
wp_admin_password = "replace-with-a-strong-wordpress-admin-password"
wp_admin_email    = "admin@neatfleets-services.com"
